<div class="container">
    <nav class="nav  nav-tabs">
        <a class="nav-link" href="/">首頁</a>
        <a class="nav-link" aria-current="page" href="/categories">資產類別</a>
        <a class="nav-link" href="/offices">辦公室類別</a>
        <a class="nav-link" href="/officeAssets">辦公室資產</a>
        <a class="nav-link active" href="#">GatePass</a>
        <a class="nav-link" href="/#">QR code入口</a>
    </nav>

    <div class="row mt-2">

        <div class="col-md-12">

            <form action="/officeAssets" method="get" class="form-inline">
                <div class="col-3">
                    <select class="form-select mt-2" aria-label="Default select example" id="officeSelector"
                        name="officeId" disabled>
                        <option value="" selected>全部辦公室</option>
                        {{#each office}}
                        <option value="{{this.id}}" class="{{#ifCond this.id ../officeId}}active{{/ifCond}}" {{#ifCond
                            this.id ../officeId}}selected{{/ifCond}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-select mt-2" aria-label="Default select example" id="officeSelector"
                        name="categoryId" disabled>
                        <option value="" selected>全部類別</option>
                        {{#each category}}
                        <option value="{{this.id}}" class="{{#ifCond this.id ../categoryId}}active{{/ifCond}}" {{#ifCond
                            this.id ../categoryId}}selected{{/ifCond}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-6">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" id="searchOffice" placeholder="搜尋 Gatepass"
                            name="searchString" value="{{searchName}}" disabled>
                        <div class=" input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                                disabled>搜尋</button>
                        </div>
                    </div>
                </div>

            </form>
            <table class="table table-hover mt-2">
                <thead>
                    <tr>
                        <th scope="col">GP ID</th>
                        <th scope="col">移轉品項</th>
                        <th scope="col">移轉前位置</th>
                        <th scope="col">移轉後位置</th>
                        <th scope="col">當前GP狀態</th>
                        <th scope="col">起單人</th>
                        <th scope="col">qrcode</th>
                        <th scope="col">起單時間</th>
                        <th scope="col">修改時間</th>
                        <th scope="col">詳情</th>
                        {{!-- <th scope="col">Description</th> --}}
                    </tr>
                </thead>
                <tbody id="datatbody">
                    {{!-- 要放 gatepass 資料的地方 --}}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" id="dataPagination">
                    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
                        <a class="page-link" href="/officeAssets?page={{pagination.prev}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each pagination.pages}}
                    {{#ifCond this ../pagination.currentPage}}
                    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/officeAssets?page={{this}}">{{this}}</a>
                    </li>
                    {{/ifCond}}
                    {{/each}}
                    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
                        <a class="page-link" href="/officeAssets?page={{pagination.next}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div id="qrcodeCanvas"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    const datatbody = document.querySelector('#datatbody')
    axios.get('/api/gatepass').then(response => {



        if (response.status === 200) {
            console.log('========================')
            console.log(response.data.gatepass)
            console.log('========================')
            const gatepass = response.data.gatepass
            let rawHtml = ''

            gatepass.forEach(gp => {

                console.log(gp)


                rawHtml += `
                    <tr class="assetTr">
                    <th scope="row" class="">${gp.id}</th>
                    <td>
                `
                let ulArea = ''
                gp.TransferAsset.forEach(asset => {

                    ulArea += `
                    <ul>${asset.name}</ul>
                    `
                })
                rawHtml += ulArea + `</td><td>`

                let rawHtmlbeforeOfficeArea = ''
                rawHtmlbeforeOfficeArea += `
                    <ul>${gp.bofficeId.name}</ul>
                    `
                rawHtml += rawHtmlbeforeOfficeArea
                rawHtml += `</td><td id="gatepass_AfterOffice">${gp.Office.name}</td><td id="gatepass_status">`
                if (gp.status === 0) {
                    rawHtml += '移轉中'
                } else if (gp.status === 1) {
                    rawHtml += '移轉完成'
                } else if (gp.status === 2) {
                    rawHtml += '部分資產到貨'
                } else {
                    rawHtml += '未知'
                }

                rawHtml += `</td>
                        <td id="gatepass_username">${gp.username}</td>
                        <td><img src="${gp.qrcode}" alt="" style="width:30px; height:30px;" id="gatepass_qrcode">
                        </td>`

                rawHtml += `
                <td id="gatepass_createdAt">`+ moment(gp.createdAt).format('lll') + `</td>
                `
                rawHtml += `
                <td id="gatepass_updatedAt">`+ moment(gp.updatedAt).format('lll') + `</td>
                `

                rawHtml += `
                <td id="gatepass_detail" data-id='${gp.id}'><button class='btn btn-outline-info' data-toggle="modal" data-target="#modal_${gp.id}">查看</button></td>
                <!-- Modal -->
                <div class="modal fade" id="modal_${gp.id}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                `


            })
            datatbody.innerHTML = rawHtml


        }
    })
</script>