<div class="container">
    <div class="row">
        <div class="col-md-6 col-6">
            <button class="btn  btn-block {{#ifCond package 1 }}btn-danger{{else}} btn-outline-primary{{/ifCond}}"
                {{#ifCond package 1 }}disabled{{/ifCond}} id="singleAssetDetail" style="height:150px;"
                data-toggle="modal" data-target="#singleAssetDetail-Modal">查看資產詳情</button>
        </div>
        <div class="col-md-6 col-6">
            <button class="btn {{#ifCond package 0 }}btn-danger{{else}} btn-outline-primary{{/ifCond}} btn-block"
                {{#ifCond package 0 }}disabled{{/ifCond}} id="multipleAssetDetail" data-id="{{gatepassId}}"
                style="height:150px;" data-toggle="modal" data-target="#multipleAssetDetail-Modal">查看多個資產內容</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-6">
            <button class="btn {{#ifCond package 1 }}btn-danger{{else}} btn-outline-primary{{/ifCond}} btn-block"
                {{#ifCond package 1 }}disabled{{/ifCond}} id="singleAsset" style="height:150px;" data-toggle="modal"
                data-target="#singleAssetReceived-Modal">單個資產到貨</button>
        </div>
        <div class="col-md-6 col-6">
            <button class="btn {{#ifCond package 0 }}btn-danger{{else}} btn-outline-primary{{/ifCond}} btn-block"
                {{#ifCond package 0 }}disabled{{/ifCond}} id="multipleAsset" data-id="{{gatepassId}}" style="
                height:150px;">多個資產到貨</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-6">
            <button class="btn {{#ifCond package 1 }}btn-danger{{else}} btn-outline-primary{{/ifCond}} btn-block"
                {{#ifCond package 1 }}disabled{{/ifCond}} id="modifyAsset" style="height:150px;" data-toggle="modal"
                data-target="#modifyAsset-Modal">修改資產使用情況</button>
        </div>
        <div class="col-md-6 col-6">
            <button class="btn btn-danger btn-block" {{#ifCond package 1 }}disabled{{/ifCond}} id="checkAsset"
                style="height:150px;" disabled>資產盤點</button>
        </div>
    </div>

    {{!-- 單個資產到貨 Modal --}}
    <div class="modal" tabindex="-1" role="dialog" id="singleAssetReceived-Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">掃描 gatepass QRCODE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modifyAsset-Modal-body">
                    <div class="row">
                        <div class="col">
                            <video id="preview" autoplay playsinline
                                style="width:300px; height:300px; margin: 0 auto; display:block;"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- 單個資產修改 Modal --}}
    <div class="modal" tabindex="-1" role="dialog" id="modifyAsset-Modal">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改資產內容</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modifyAsset-Modal-body">
                    <div class="row mb-3">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <img src="" class="img-thumbnail img-fluid rounded mx-auto d-block" id="modifyAssetImage">
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <form id="modifyAsset-Modal-body-form" action="/api/qrcode/asset/edit" method="post"
                        enctype="multipart/form-data">
                        {{!-- 這邊放要修改 qrcode 物品清單 --}}
                    </form>
                </div>
            </div>
        </div>
    </div>


    {{!-- 單個資產查詢 Modal --}}
    <div class=" modal" tabindex="-1" role="dialog" id="singleAssetDetail-Modal">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">當前資產內容</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="singleAssetDetail-Modal-body">
                    {{!-- 這邊放當前 qrcode 物品清單 --}}
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <img src="" class="img-thumbnail img-fluid rounded mx-auto d-block" id="assetImage">
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="font-weight-bold">資產編號: <span id="asset_id"></span></div>
                        <div class="font-weight-bold">類別: <span id="asset_category"></span></div>
                        <div class="font-weight-bold">名稱: <span id="asset_name"></span></div>
                        <div class="font-weight-bold">廠牌: <span id="asset_Vendor"></span></div>
                        <div class="font-weight-bold">型號: <span id="asset_Model"></span></div>
                        <div class="font-weight-bold">數量: <span id="asset_Quantity"></span></div>
                        <div class="font-weight-bold">狀態: <span id="asset_Status"></span></div>
                        <div class="font-weight-bold">位置: <span id="asset_Office"></span></div>
                    </div>
                    <div class="row" id="singleAssetDetail-Modal-table-body">
                        {{!-- 這邊放單個資產渲染資料 --}}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- 多個資產查詢 Modal --}}
    <div class="modal" tabindex="-1" role="dialog" id="multipleAssetDetail-Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">當前 Gatepass 內容</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="multipleAssetDetail-Modal-body">
                    {{!-- 這邊放當前 gatepass 物品清單 --}}
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

{{!--
<script type="text/javascript" src="/javascripts/instascan.min.js"></script> --}}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>
    const singleAssetDetail = document.querySelector('#singleAssetDetail')
    const multipleAssetDetail = document.querySelector('#multipleAssetDetail')
    const singleAsset = document.querySelector('#singleAsset')
    const multipleAsset = document.querySelector('#multipleAsset')
    const modifyAsset = document.querySelector('#modifyAsset')
    const checkAsset = document.querySelector('#checkAsset')

    const assetId = {{{ assetId }}}
    const gatepassStatus = {{{ gatepassStatus }}}
    const package = {{{ package }}}

    if (gatepassStatus === 1 && package === 1) {
        multipleAsset.disabled = true
        multipleAsset.innerHTML = 'gatepass 已到貨'
        multipleAsset.classList.remove('btn-outline-primary')
        multipleAsset.classList.add('btn-success')
    }
    singleAssetDetail.addEventListener('click', () => {
        console.log('請求單個資產詳情')
        axios.post('/api/qrcode/asset', { assetId })
            .then(reply => {

                let singleAssetDetail_Modal_table_body = document.querySelector('#singleAssetDetail-Modal-table-body')
                const assetImage = document.querySelector('#assetImage')
                const asset_id = document.querySelector('#asset_id')
                const asset_category = document.querySelector('#asset_category')
                const asset_name = document.querySelector('#asset_name')
                const asset_Vendor = document.querySelector('#asset_Vendor')
                const asset_Model = document.querySelector('#asset_Model')
                const asset_Quantity = document.querySelector('#asset_Quantity')
                const asset_Status = document.querySelector('#asset_Status')
                const asset_Office = document.querySelector('#asset_Office')
                const data = reply.data.response
                console.log('===========================')
                console.log(data)
                console.log('===========================')
                assetImage.src = data.image
                asset_id.innerHTML = data.id
                asset_category.innerHTML = data.Category.name
                asset_name.innerHTML = data.name
                asset_Vendor.innerHTML = data.Vendor
                asset_Model.innerHTML = data.Model
                asset_Quantity.innerHTML = data.Quantity
                asset_Status.innerHTML = data.Status.name
                asset_Office.innerHTML = data.Office.name

            })
            .catch(err => {
                console.log(err)
            })
    })

    multipleAssetDetail.addEventListener('click', () => {
        console.log('請求多個資產詳情')
        const gatepassId = multipleAssetDetail.getAttribute('data-id')

        // 發送請求到後端查詢該筆 gatepass 的 Assets 資料, 回來渲染給 Modal 進行展示
        axios.post('/api/gatepass/package', { gatepassId })
            .then(reply => {
                console.log(reply.data.response)
                if (reply.data.status === 200) {
                    const multipleAssetDetail_Modal_body = document.querySelector('#multipleAssetDetail-Modal-body')
                    let rawHtml = `
                    <div class='row'>
                            <div class='col-xs-6 col-sm-6 col-md-3'>圖片</div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>名稱</div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>數量</div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>當前狀態</div>
                    </div>
                    `
                    reply.data.response.forEach(asset => {

                        rawHtml += `
                        <div class='row mt-1'>
                            <div class='col-xs-6 col-sm-6 col-md-3'><img src='${asset.image}' style='width:80px;height:80px;'></div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>${asset.name}</div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>${asset.Quantity}</div>
                            <div class='col-xs-6 col-sm-6 col-md-3'>${asset.Status.name}</div>
                        </div>
                        `
                    })
                    multipleAssetDetail_Modal_body.innerHTML = rawHtml
                } else {
                    console.log('失敗請求...')
                }
            }).catch(err => {
                console.log(err)
            })
    })

    singleAsset.addEventListener('click', () => {
        console.log('單個資產到貨')
        console.log('彈出 Modal 開啟相機鏡頭掃描 gatepass qrcode, 獲取 gatepassId')
        var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
        scanner.addListener('scan', function (content) {
            alert(content);
            console.log(content)
            console.log(assetId)

            //window.location.href=content;
            axios.post('/scanqrcode/getcamera', { content, assetId })
                .then(response => {
                    console.log(response)
                    scanner.stop(cameras[1])
                    const singleAssetReceived_Modal = document.querySelector('#singleAssetReceived-Modal')
                    singleAssetReceived_Modal.modal('hide')
                })
                .catch(err => {
                    console.log(err)
                })


        });


        Instascan.Camera.getCameras().then(function (cameras) {
            console.log(cameras)
            console.log(cameras.length)
            axios.post('/scanqrcode/getcamera', cameras[1])
                .then(response => {
                    console.log(response)
                })
                .catch(err => {
                    console.log(err)
                })
            if (cameras.length > 0) {
                if (cameras[1]) {
                    scanner.start(cameras[1]); // [0] 前鏡頭 [1] 後鏡頭 
                } else {
                    scanner.start(cameras[0]); // [0] 前鏡頭 [1] 後鏡頭 
                }

            } else {
                console.error('沒有找到相機');
                console.error('No cameras found.');
                alert('No cameras found.');
            }
        }).catch(function (e) {
            console.log('沒有找到鏡頭')
            console.error(e);
            alert(e);
        });
    })

    multipleAsset.addEventListener('click', () => {
        console.log('整包資產到貨')
        let conformAllAssetsStatus = confirm('確認當前所有資產到貨?')
        if (conformAllAssetsStatus) {
            console.log('準備到後端修改當前gatepass資產的狀態')
            const gatepassId = multipleAsset.getAttribute('data-id')
            axios.post('/api/gatepass/package/received', { gatepassId })
                .then(reply => {
                    console.log(reply.data.gatepassStatus)
                    if (reply.data.status === 200) {
                        alert('貨品已全部到貨, 狀態已修改, 關閉到貨按鈕')
                        multipleAsset.disabled = true
                        multipleAsset.innerHTML = 'gatepass 已到貨'
                        multipleAsset.classList.remove('btn-outline-primary')
                        multipleAsset.classList.add('btn-success')
                    } else {
                        console.log('失敗請求...')
                    }
                }).catch(err => {
                    console.log(err)
                })
        } else {
            console.log('返回當前頁')
        }
    })

    modifyAsset.addEventListener('click', () => {
        console.log('修改資產使用情況')
        const modifyAsset_Modal_body_form = document.querySelector('#modifyAsset-Modal-body-form')
        const modifyAssetImage = document.querySelector('#modifyAssetImage')
        Promise.all([axios.post('/api/qrcode/asset', { assetId }), axios.post('/api/qrcode/category'), axios.post('/api/qrcode/office'), axios.post('/api/qrcode/status')])
            .then(([asset, category, office, status]) => {
                console.log('===========================')
                console.log('Asset')
                console.log(asset)
                console.log('category')
                console.log(category)
                console.log('office')
                console.log(office)
                console.log('===========================')
                modifyAssetImage.src = asset.data.response.image
                let rawHtml = `
                <input type="hidden" name="assetId" value="${asset.data.response.id}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">類別</label>
                        <select id="inputState" class="form-control"  name='category_id'>
                `
                // 渲染 類別下拉式選單
                category.data.response.forEach(categories => {
                    if (categories.id === asset.data.response.Category.id) {
                        rawHtml += `
                        <option selected value='${categories.id}'>${categories.name}</option>
                        `
                    } else {
                        rawHtml += `
                        <option value='${categories.id}'>${categories.name}</option>
                        `
                    }
                })
                rawHtml += `
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="input_name">資產名稱</label>
                      <input type="text" class="form-control" id="input_name" value='${asset.data.response.name}' name='name'>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="input_Vendor">廠牌</label>
                      <input type="text" class="form-control" id="input_Vendor" value='${asset.data.response.Vendor}' name='Vendor'>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="input_Model">型號</label>
                      <input type="text" class="form-control" id="input_Model" value='${asset.data.response.Model}' name='Model'>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">狀態</label>
                        <select id="inputState" class="form-control"  name='status_id'>`

                // 渲染 狀態下拉式選單
                status.data.response.forEach(statuses => {
                    if (statuses.id === asset.data.response.Status.id) {
                        rawHtml += `
                        <option selected value='${statuses.id}'>${statuses.name}</option>
                        `
                    } else {
                        rawHtml += `
                        <option value='${statuses.id}'>${statuses.name}</option>
                        `
                    }
                })
                rawHtml += `
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">位置</label>
                        <select id="inputState" class="form-control" name='office_id'>
                            `

                // 渲染 位置下拉式選單
                office.data.response.forEach(offices => {
                    if (offices.id === asset.data.response.Office.id) {
                        rawHtml += `
                        <option selected value='${offices.id}'>${offices.name}</option>
                        `
                    } else {
                        rawHtml += `
                        <option value='${offices.id}'>${offices.name}</option>
                        `
                    }
                })
                rawHtml += `
                        </select>
                    </div>
                </div>

                <div class="form-row">               
                    <div class="form-group col-md-12">
                      <label for="input_Model">描述</label>
                      <input type="text" class="form-control" id="input_Description" name='Description' value='${asset.data.response.Description}'>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                    <label for="input_image">圖片</label>
                    <input type="file" class="form-control-file" id="input_image" name='image'>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">確認修改</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                `
                modifyAsset_Modal_body_form.innerHTML = rawHtml
            })
            .catch(err => {
                console.log(err)
            })

    })

    checkAsset.addEventListener('click', () => {
        console.log('資產盤點')
    })
</script>